header {
    margin:0;
    padding:10px 20px;
    align-self: stretch;
    text-align: center;
    background:blue;
    color:white;
    font-size: 2em;
}

body, div, html {
    display: flex;
    margin:0;
    padding:0;
    flex-direction: column;
}

body {
    margin: 4px;
}