<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--index servlet-->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <jsp-file>/Index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--db creation servlet-->
    <servlet>
        <servlet-name>dbCreation</servlet-name>
        <jsp-file>/DBCreation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbCreation</servlet-name>
        <url-pattern>/db-create</url-pattern>
    </servlet-mapping>
    <!--db creation submit servlet-->
    <servlet>
        <servlet-name>dbCreationSubmit</servlet-name>
        <servlet-class>servlets.dbOps.DBCreationSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbCreationSubmit</servlet-name>
        <url-pattern>/db-create/submit</url-pattern>
    </servlet-mapping>
    <!--db drop servlet-->
    <servlet>
        <servlet-name>dbDrop</servlet-name>
        <jsp-file>/DBDrop.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbDrop</servlet-name>
        <url-pattern>/db-drop</url-pattern>
    </servlet-mapping>
    <!--db drop submit servlet-->
    <servlet>
        <servlet-name>dbDropSubmit</servlet-name>
        <servlet-class>servlets.dbOps.DBDropSubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbDropSubmit</servlet-name>
        <url-pattern>/db-drop/submit</url-pattern>
    </servlet-mapping>
<!--    get entities-->
    <servlet>
        <servlet-name>getEntityList</servlet-name>
        <servlet-class>servlets.entitiesOps.GetEntityListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getEntityList</servlet-name>
        <url-pattern>/get-entities</url-pattern>
    </servlet-mapping>
<!--    delete entity-->
    <servlet>
        <servlet-name>deleteEntitySubmit</servlet-name>
        <servlet-class>servlets.entitiesOps.DeleteEntitySubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteEntitySubmit</servlet-name>
        <url-pattern>/delete-entity</url-pattern>
    </servlet-mapping>
<!--    add entity-->
    <servlet>
        <servlet-name>addEntity</servlet-name>
        <jsp-file>/AddEntity.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>addEntity</servlet-name>
        <url-pattern>/add-entity</url-pattern>
    </servlet-mapping>
<!--    add entity submit-->
    <servlet>
        <servlet-name>addEntitySubmit</servlet-name>
        <servlet-class>servlets.entitiesOps.AddEntitySubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addEntitySubmit</servlet-name>
        <url-pattern>/add-entity/submit</url-pattern>
    </servlet-mapping>
<!--    edit entity-->
    <servlet>
        <servlet-name>editEntity</servlet-name>
        <servlet-class>servlets.entitiesOps.EditEntityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editEntity</servlet-name>
        <url-pattern>/edit-entity</url-pattern>
    </servlet-mapping>
<!--    edit entity submit-->
    <servlet>
        <servlet-name>editEntitySubmit</servlet-name>
        <servlet-class>servlets.entitiesOps.EditEntitySubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editEntitySubmit</servlet-name>
        <url-pattern>/edit-entity/submit</url-pattern>
    </servlet-mapping>
</web-app>